{{ ansible_managed | comment }}
{% if prometheus_config_global | length > 0 -%}
# Global configuration
global:
{{ prometheus_config_global | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if prometheus_config_rule_files | length > 0 -%}
# Rule files specifies a list of globs. Rules and alerts are read from
# all matching files.
rule_files:
{{ prometheus_config_rule_files | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if prometheus_config_scrape | length > 0 -%}
# A list of scrape configurations.
scrape_configs:
{{ prometheus_config_scrape | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if prometheus_config_alerting | length > 0 -%}
# Alerting specifies settings related to the Alertmanager.
alerting:
{{ prometheus_config_alerting | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if prometheus_config_remote_write | length > 0 -%}
# Settings related to the remote write feature.
remote_write:
{{ prometheus_config_remote_write | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}

{% if prometheus_config_remote_read | length > 0 -%}
# Settings related to the remote read feature.
remote_read:
{{ prometheus_config_remote_read | to_nice_yaml(indent=2) | indent(2, true) }}
{%- endif %}
