{{ ansible_managed | comment }}
{% set reserved_flags = ("config.file", "storage.tsdb.path", "web.console.templates", "web.console.libraries") -%}
[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_user_group }}
Type=Simple
ExecStart=/bin/sh -c "/usr/local/bin/prometheus \
    --config.file={{ prometheus_config_dirpath }}/prometheus.yml \
    --storage.tsdb.path={{ prometheus_database_dirpath }} \
    --web.console.templates={{ prometheus_app_dirpath }}/consoles \
    --web.console.libraries={{ prometheus_app_dirpath }}/console_libraries \
{% for key, value in prometheus_flags.items() -%}
  {% if key not in reserved_flags and (value is not boolean or value) %}
    --{{ key }}{% if value is not boolean %}={{ value | replace('"', '\\"') }}{% endif %} \
  {% endif %}
{%- endfor %}
    >> {{ prometheus_log_dirpath }}/prometheus.log 2>&1"

[Install]
WantedBy=multi-user.target
